body {
    position: relative;
    background: #FFFFFF;
}

table th {
    padding: 20px;
    background: #F9F9F9;
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
.number {
    box-sizing: border-box;
text-align: center;
padding: 20px;
background: #FFFFFF;
border: 1px solid #DADADA;
}
.text{
box-sizing: border-box;
padding: 20px;
background: #FFFFFF;
border: 1px solid #DADADA;
}
.date{
    
box-sizing: border-box;
text-align: center;
padding: 20px;
background: #FFFFFF;
border: 1px solid #DADADA;
}
.button {
box-sizing: border-box;
text-align: center;
padding: 20px;
background: #FFFFFF;
border: 1px solid #DADADA;

}
.yellow{
  
width: 115px;
height: 36px;
cursor: pointer;
border-style: hidden;
background: #FFD43A;
border-radius: 10px;
}
.red {
   
width: 115px;
height: 36px;
cursor: pointer;
border-style: hidden;
background: #E84949;
border-radius: 10px;
color: #FFFFFF;

}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
table {
    border-collapse: collapse;
}